@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=El+Messiri:wght@600&display=swap');

*{
  margin: 0;
}

.hr{
  background-color:#edf8ff ;
}

hr{
  height: 1px;
  width: 96%;
  border-width: 0;
  background-color: #00A4BD;
  margin-left: 2%;
}